:root {
	--primary-colour-list: 17, 52, 166;
	--primary-colour: rgb(var(--primary-colour-list));
	--box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	--box-shadow-hover: 0 4px 6px 0 rgb(60 64 67 / 30%), 0 4px 9px 4px rgb(60 64 67 / 15%);
}

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

#hero {
	height: 90vh;
	text-align: center;
}

.hero-title {
	font-size: 3rem;
}

.hero-subtitle {
	font-size: 1rem;
}

.separator-box {
	background-color: var(--primary-colour);
	color: white;
	padding: 7rem 1.5rem;
}

.pfp {
	display: block;
	width: 200px;
	height: 250px;
	margin-bottom: 2rem;
	border-radius: 0.7rem;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.no-margin {
	margin: 0 !important;
}

.rounded {
	border-radius: 15px !important;
}

.MuiCard-root {
	box-shadow: var(--box-shadow) !important;
}

.MuiCard-root:hover {
	box-shadow: var(--box-shadow-hover) !important;
	transform: scale(1.005);
	transition: all .25s ease-in-out;
}

.MuiCardMedia-root {
	box-shadow: var(--box-shadow);
}

.MuiCardActions-root {
	box-shadow: var(--box-shadow);
}

.hidden {
	opacity: 0;
	filter: blur(3px);
	transform: translateY(50%);
	transition: all .7s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.hidden:nth-child(2) {
	transition-delay: 200ms;
}

.hidden:nth-child(3) {
	transition-delay: 400ms;
}

.hidden:nth-child(4) {
	transition-delay: 150ms;
}

.hidden:nth-child(5) {
	transition-delay: 350ms;
}

.hidden:nth-child(6) {
	transition-delay: 550ms;
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(100%)
	}

	100% {
		transform: translateY(0%)
	}
}