body {
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

.main-container {
	min-height: calc(100vh - 10vh);
}

.title {
	text-align: center;
	font-size: 48px;
	font-family: 'Silkscreen', cursive;
	margin-top: 25px;
	margin-bottom: 50px;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer-icon {
	font-size: 40px;
	margin: 15px;
	text-align: center;
}

.blue-colour {
	color: #1F51FF;
}

.pfp {
	width: 150px;
	height: 200px;
	margin-bottom: 2rem;
	border-radius: 0.7rem;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	display: block;
}

a {
	text-decoration: none;
	--bs-navbar-active-color: #1F51FF !important;
}

nav {
	font-family: 'Silkscreen', cursive;
}

.navbar-brand {
	font-size: 32px;
}

.custom-container {
	margin: 0 100px;
}